In [ ]:
# Analysis

#Based on the data:
    
    #Charter schools have a higher score in both subjects and overall passing grades 
    
    #Even though the school may have spent a lot of money that doesn't result in the school having better grades

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Total number of schools
school_count = school_data["school_name"].count()
school_count

15

In [3]:
# Total number of students
student_count = student_data["student_name"].count()
student_count

39170

In [4]:
# Total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Average math scores
average_math_score = student_data["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Average reading scores
average_reading_score = student_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# # Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count / float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# High-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools":[school_count], "Total Students":[student_count], "Total Budget":[total_budget], "Average Math Score":[average_math_score], "Average Reading Score":[average_reading_score],
                                 "Percentage Passing Math":[passing_math_percentage*100], "Percentage Passing Reading":[passing_reading_percentage*100], "Overall Passing Rate":[overall_passing_rate*100]})
# Format
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,7498.085269,8580.546336,6517.232576

In [11]:
# Use the code provided to select the school type
school_types = school_data.set_index(["school_name"])["type"]

In [12]:
# Total student count
per_school_counts = school_data_complete["school_name"].value_counts()

In [13]:
# Total school budget and per capita spending
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]

per_school_capita = per_school_budget / per_school_counts

In [14]:
# Average test scores
per_school_math = school_data_complete.math_score
per_school_reading = school_data_complete.reading_score

In [15]:
# Number of schools with math scores of 70+
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]

In [16]:
# Number of schools with reading scores of 70+
school_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]

In [17]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]

In [18]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_math_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100

In [19]:
# DataFrame 'per_school_summary' with columns from calculations
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_school_math,
                                   "Average Reading Score": per_school_reading,
                                   "Percentage Passing Math": per_school_passing_math,
                                   "Percentage Passing Reading": per_school_passing_reading,
                                   "Overall Passing Rate": overall_passing_rate})

# Format
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
0,NaN,NaN,$nan,$nan,79.0,66.0,NaN,NaN,NaN
1,NaN,NaN,$nan,$nan,61.0,94.0,NaN,NaN,NaN
2,NaN,NaN,$nan,$nan,60.0,90.0,NaN,NaN,NaN
3,NaN,NaN,$nan,$nan,58.0,67.0,NaN,NaN,NaN
4,NaN,NaN,$nan,$nan,84.0,97.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
Rodriguez High School,District,3999.0,"$2,547,363.00",$637.00,NaN,NaN,66.366592,80.220055,52.988247
Shelton High School,Charter,1761.0,"$1,056,600.00",$600.00,NaN,NaN,93.867121,95.854628,89.892107
Thomas High School,Charter,1635.0,"$1,043,130.00",$638.00,NaN,NaN,93.272171,97.308869,90.948012
Wilson High School,Charter,2283.0,"$1,319,574.00",$578.00,NaN,NaN,93.867718,96.539641,90.582567
Wright High School,Charter,1800.0,"$1,049,400.00",$583.00,NaN,NaN,93.333333,96.611111,90.333333

In [20]:
# Top 5 'Overall passing' schools
top_5 = per_school_summary.sort_values(by = 'Overall Passing Rate', ascending = False).head(5).reset_index(drop = True)
top_5

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Overall Passing Rate
0,Charter,1858.0,"$1,081,356.00",$582.00,NaN,NaN,94.133477,97.039828,91.334769
1,Charter,1635.0,"$1,043,130.00",$638.00,NaN,NaN,93.272171,97.308869,90.948012
2,Charter,1468.0,"$917,500.00",$625.00,NaN,NaN,93.392371,97.138965,90.599455
3,Charter,2283.0,"$1,319,574.00",$578.00,NaN,NaN,93.867718,96.539641,90.582567
4,Charter,962.0,"$585,858.00",$609.00,NaN,NaN,94.594595,95.945946,90.540541

In [ ]:
# Bottom 5 'Overall passing' schools
bottom_5 = per_school_summary.sort_values(by = 'Overall Passing Rate', ascending = True).head(5).reset_index(drop = True)
bottom_5

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]


# Grouped by "school_name" with mean of each
ninth_graders_scores = school_data_complete[["school_name", "grade", "math_score" ]]
ninth_graders_scores.groupby(["school_name"]).mean().head()

tenth_graders_scores = school_data_complete[["school_name", "grade", "math_score" ]]
tenth_graders_scores.groupby(["school_name"]).mean().head()

eleventh_graders_scores = school_data_complete[["school_name", "grade", "math_score" ]]
eleventh_graders_scores.groupby(["school_name"]).mean().head()

twelfth_graders_scores = school_data_complete[["school_name", "grade", "math_score" ]]
twelfth_graders_scores.groupby(["school_name"]).mean().head()


# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores.mean()["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]


# Combine scores put into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.merge(ninth_graders_scores, tenth_graders_scores, how='inner', suffixes=('',''))
math_scores_by_grade = pd.merge(math_scores_by_grade, eleventh_graders_scores, how='inner', suffixes=('',''))
math_scores_by_grade = pd.merge(math_scores_by_grade, twelfth_graders_scores, how='inner', suffixes=('',''))

math_scores_by_grade.index.name = None

math_scores_by_grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]


# Grouped by "school_name" with mean of each 
ninth_graders_scores = school_data_complete[["school_name", "grade", "reading_score" ]]
ninth_graders_scores.groupby(["school_name"]).mean().head()

tenth_graders_scores = school_data_complete[["school_name", "grade", "reading_score" ]]
tenth_graders_scores.groupby(["school_name"]).mean().head()

eleventh_graders_scores = school_data_complete[["school_name", "grade", "reading_score" ]]
eleventh_graders_scores.groupby(["school_name"]).mean().head()

twelfth_graders_scores = school_data_complete[["school_name", "grade", "reading_score" ]]
twelfth_graders_scores.groupby(["school_name"]).mean().head()


# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores.mean()["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]


# Combined scores put into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.merge(ninth_graders_scores, tenth_graders_scores, how='inner', suffixes=('',''))
reading_scores_by_grade = pd.merge(reading_scores_by_grade, eleventh_graders_scores, how='inner', suffixes=('',''))
reading_scores_by_grade = pd.merge(reading_scores_by_grade, twelfth_graders_scores, how='inner', suffixes=('',''))

reading_scores_by_grade.index.name = None

reading_scores_by_grade

In [ ]:
# Establish bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Copy of school summary
school_spending_df = per_school_summary.copy()

In [ ]:
# 'pd.cut' to categorize spending basde on bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Student Budget"], spending_bins, labels=labels)
school_spending_df = school_spending.groupby(["Spending Ranges (Per Student)"])
school_spending_df.mean()

In [ ]:
# Averages for the desired columns
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percentage Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Percentage Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Overall Passing Rate"]

In [ ]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Scores":[spending_math_scores],
                                "Average Reading Scores":[spending_reading_scores],
                                "Percentage Passing Math":[spending_passing_math],
                                "Percentage Passing Reading":[spending_passing_reading],
                                "Overall Passing Rate":[overall_passing_spending]})
spending_summary

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins

scores_by_school_size = school_summary_df[["School Names",
                                     "Average Math Score",
                                     "Average Reading Score",
                                     "Percentage Passing Math",
                                    "Percentage Passing Reading",
                                     "Overall Passing Rate"]]

# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
per_school_summary["School Size"] = pd.cut(school_summary_df["Total Students"], size_bins, labels=labels)
per_school_summary = scores_by_school_size.groupby(["School Size"])
per_school_summary.mean()

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"]).mean()["Average Math Score"]
size_reading_scores = per_school_summary.groupby(["School Size"]).mean()["Average Reading Score"]
size_passing_math = per_school_summary.groupby(["School Size"]).mean()["% Passing Math"]
size_passing_reading = per_school_summary.groupby(["School Size"]).mean()["% Passing Reading"]
size_overall_passing = per_school_summary.groupby(["School Size"]).mean()["% Overall Passing"]

In [ ]:
# Display Results

size_summary